body {
    background-color: yellow;
}

.externo {
    color: green;
    font-family: monospace;
}

.boxModel {
    margin: 150px;
    border: 10px dashed red;
    border-top: 10px solid blue;
    border-bottom: 10px dotted green;
    padding: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}