* {
    font-family: Arial, Helvetica, sans-serif; /* Define tipo da fonte */
}

body {
    font-size: 14pt; /* Altera o tamanho da fonte do corpo da página */
    margin: 0; /* Define que não haverá margens */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    height: 100vh; /* Define a altura do body para 100% da altura da tela */
}

h1 {
    text-align: center; /* Centraliza os elementos h1 */
}

ul {
    list-style-type  : none; /* Remove marcadores da lista */
    margin           : 0; /* Define que não haverá margens */
    padding          : 0; /* Define que não haverá espaçamentos */
    overflow         : hidden; /* Oculta os elementos ao atingirem a lista */
    background-color : #333; /* Define a cor do fundo da barra de navegação */
    position         : sticky; /* Define o tipo do posicionamento da lista */
    top              : 0; /* Define que o topo será zerado */
}

li {
    float : left; /* Flutua os itens da lista à esquerda */
}

li a {
    display         : block; /* Segmentar em blocos cada link */
    color           : white; /* Define a cor dos links */
    text-align      : center; /* Define que o alinhamento do texto será centralizado */
    padding         : 14px 16px; /* Define o espaçamento entre o conteúdo e a borda */
    text-decoration : none; /* Remove o sublinhado dos links */
}

li a:hover:not(.active) {
    background-color: #111; /* Cor de fundo ao passar o mouse */
}

.active {
    background-color: #4CAF50; /* Define a cor de fundo do elemento ativo */
}

.containerPrincipal {
    margin: 50px;
}

.header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px; /* Adiciona espaço entre o header e os cards */
}

.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mensagemInfo{
    background-color: lightblue;
    text-align: center;
    color: blue;
    border: 1px black solid;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}