table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Defina bordas inferiores */
}

tr:hover {
    background-color: #4CAF50;
}